.card {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
  align-items: center;
  background: radial-gradient(#76b2fe, #b69efe);
  border-radius: 20px;
  margin: 20px 0;
  cursor: pointer;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 32px 0px rgba(57,51,214,1);
-moz-box-shadow: 0px 0px 32px 0px rgba(57,51,214,1);
box-shadow: 0px 0px 32px 0px rgba(57,51,214,1);
}
.card__picture {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
.card__img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__texts {
  width: 90%;
  padding: 20px;
}
.card__specie {
  font-size: medium;
}
.card__info {
  display: inline-flex;
  font-size: medium;
}
.card__genre {

}
.card__status {
  margin: 0 5px;
}
.dead {
  font-weight: 700;
  color: red;
}
.alive {
  font-weight: 700;
  color: lime;
}


